shelter_occupancy:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: your-snowflake-account
      database: SHELTER_DB
      warehouse: DATA_WH
      role: ACCOUNTADMIN
      schema: SILVER
      private_key_path: snowflake_key.p8
