#environments
.env
.env/
.venv/
.venv

# python
__pycache__/

# terraform
terraform.tfvars
**/.terraform/
*.tfstate
*.tfstate.backup

# macos
.DS_Store

# dbt
transform/profiles.yml
transform/target/
transform/dbt_packages/
transform/logs/

# testing
data/