# environments
.venv/
.venv

# python
__pycache__/

# terraform
terraform.tfvars
**/.terraform/
*.tfstate
*.tfstate.backup

# macos
.DS_Store

# dbt
dbt/profiles.yml
dbt/target/
dbt/.user.yml
dbt/dbt_packages/
dbt/logs/

# snowflake keys
*.p8
*.pub

# lambda build artifacts
build/

# testing
data/